# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Environment variables
.env
*.env.local

# Backend uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db